{% extends "hello_world/base.html" %}

{% block content %}
   {% if weather %}
        <div class="card" style="background: #f0fdf4; border: 1px solid #bbf7d0; display: flex; align-items: center; justify-content: space-between;">
            <div>
                <span style="font-size: 1.2rem; font-weight: bold; color: #166534;">
                    {{ weather.temp }}°C
                </span>
                <span style="color: #166534; margin-left: 10px;">
                    in Angamaly ({{ weather.description|title }})
                </span>
            </div>
            <img src="http://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" style="width: 50px;">
        </div>
    {% endif %}
<h1>Menu</h1>
    {% for item in items %}

        <div class="card">
            <h3><a href="item/{{ item.id }}/">{{ item.name }}</a></h3>
            <p>Price: ₹{{ item.price }}</p>
        </div>
    {% endfor %}
{% endblock %}
